html body {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 18pt;
}

.black {
    color: #24272b;
}

.blue {
    color: #7289da;
}

.red {
    color: #c94d46
}

.yellow {
    color: #e6b728
}

#intro {
    /* background-color: white; */
    font-size: 2rem;
    min-height: 100vh;
    z-index: 2;
}

#background {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}

#intro a {
    color: white;
}

#servers {
    background-color: #24272b;
    color: white;
    min-height: 100vh;
}

#vote {
    background-color: #24272b;
    color: white;
}

footer {
    color: #24272b;
    background-color: white;
}

.copy:hover {
    cursor: pointer;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 3rem !important;
}

.zoomable {
    transition: transform .2s;
}

.zoomable:hover {
    transform: scale(1.15);
}

.horizontal-row {
    color: #c94d46;
    border: .3rem solid #c94d46;
    border-radius: .1rem;
}

.copy-dialog {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: .3rem;
}

@keyframes up-down {
    0% {
        top: 0
    }
    25% {
        top: -.5rem;
    }

    50% {
        top: .5rem;
    }
    100% {
        top: 0;
    }
}

.button-ok {
    animation-name: up-down;
    animation-duration: 2s;
    transition-timing-function: ease;
    position: relative;
}

@keyframes splash-text {
    0% {
        transform:  translateY(-5rem) translateX(15rem) rotate(-24deg) scale(1.0);
    }
    25% {
        transform:  translateY(-5rem) translateX(15rem) rotate(-24deg) scale(1.1);
    }
    50% {
        transform:  translateY(-5rem) translateX(15rem) rotate(-24deg) scale(1.0);
    }
    75% {
        transform:  translateY(-5rem) translateX(15rem) rotate(-24deg) scale(0.9);
    }
    100% {
        transform: translateY(-5rem) translateX(15rem) rotate(-24deg) scale(1.0);
    }
}

#splash {
    animation-name: splash-text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    font-size: 1.5rem;
    transform-origin: center;
}

.zoomed {
    transform: scale(1.2);
}